<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index.html">
		MUSIC MATE </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="index.html">Home</a>
			</li>
			<li>
			<a href="portfolio-item.html">Single Project</a>
			</li>
			<li>
			<a href="page-sample.html">Page Sample</a>
			</li>
			<li>
			<a href="contact.html">Hire me</a>
			</li>
			<li>
			<a href="profile.html"><img src="{{ my_picture }}"></img></a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
